.bar {
  height: 45px;
  min-height: 45px;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.8);
  display: inline;
  width: 100%;
  display: flex;
  margin: 0 0 5px 0;
}

.leftContent, .centerContent, .rightContent {
  flex: 1;
  margin: auto 10px;
  display: flex;
}

.leftContent {
  justify-content: flex-start;
}

.rightContent {
  justify-content: flex-end;
}

.centerContent {
  justify-content: center;
}

.homeLink{
  a {
    color: black;
    text-decoration: none;
    &:visited {
      color: black;
    }
  }
}

.nameUser {
  margin-right: 10px;
  margin-left: 10px;
}

.exitLink {
  background-color: transparent;
  line-height: 11px;
  color: black;
  outline: none;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  border: none;
}

