.mainContainer {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.contentHolder {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
}

button {
	&:focus, &::-moz-focus-inner {
		outline: 0;
		border: 0;
	}
}