.loginAndReg {
	flex: 1;
	margin: auto;
	display: flex;
}

.loginContainer, .registrationContainer {
	padding: 25px;
	border-radius: 3px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	margin: auto;
	display: flex;
	flex-direction: column;
	form {
		display: flex;
		flex-direction: column;
		input {
			margin: 0 0 5px;
		}
		margin-bottom: 10px;
	}
}

.formError {
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
