.card {
  width: 180px;
  height: 220px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s ease;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  &:hover {
    background: #4c4c4c;
    color: #cccccc;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    & > .nonFavourite {
    	display: block;
    }
  }
  position: relative;
}

.nonFavourite {
	display: none;
}

.favouriteCard {
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	color: gold;
	border: 0;
	padding : 0;
	background-color: transparent;
	cursor: pointer;
	z-index: 3;
	height: 24px;
}

.playerPic {
  margin: auto;
  height: 128px;
  width: 128px;
  cursor: cell;
}
.detailsMain {
  flex: 1;
  & > * {
    margin: 0;
  }
  width: 100%;
  margin: auto;
  border-radius: 3px;
}

.title {
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.detailsChild {
  padding: 0 5px;
  display: table;
  .detail {
    width: 100%;
    display: table-row;
    font-size: 12px;
    overflow: hidden;
    .cells {
      white-space: nowrap;
      text-overflow: ellipsis;
      display: table-cell;
      padding-right: 5px;
    }
  }
}
