.searchDiv {
  width: 100%;
  display: flex;
  margin: 5px 0;
  flex-shrink: 0;
}
.searchBox {
  outline: none;
  padding: 5px;
  margin: auto;
  width: 80%;
}

.groupTitle {
	span {
		vertical-align: middle;
		line-height: 24px;
	}
    background-color: #777;
	i {
		float: right;
		vertical-align: middle;
	}
	cursor: pointer;
    padding: 5px;
    color: white;
    width: 100%;
    &:hover {
    	background-color: #555;
    }
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.playerList {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.errorIndicator {
  color: red;
}

.listContainer {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}

.mainListContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sortNGroup {
	margin: 0 auto 2px;
	select {
		margin: 0 5px;
	}
	  flex-shrink: 0;
}

.collapsed {
	display: none;
}

.groupContainer {
	display: flex;
	flex-direction: column;
	overflow: auto;
	transition: all 0.2s ease-out;
}


@media (min-width: 768px) and (max-width: 1024px) {
	.mainListContainer {
		overflow: auto;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.mainListContainer {
		overflow: auto;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.mainListContainer {
		overflow: auto;
	}
}
