.selectedView {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.isBar {
	border-left: 1px solid antiquewhite;
}

.closeSelected {
	line-height: 9px;
	padding: 2px;
	border: 0;
	cursor: pointer;
	position: absolute;
	right: 2px;
	top: 2px;
	border-radius: 50%;
	background: transparent;
	&:hover {
		background: darken(white, 10);
	}
}

.playerPicSel {
  margin: auto;
  height: 128px;
  min-height:128px;
  width: 128px;
}

.detailsMainSel {
  & > * {
    margin: 0;
  }
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  flex: 1;
  overflow: auto;
}

.titleSel {
  text-align: center;
  min-height: 20px;
}

.detailsChildSel {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .detailSel {
    min-width: 310px;
    display: inline;
    margin-right: 10px;
    font-size: 12px;
    overflow: hidden;
    .cellsSel {
      min-width: 150px;
      white-space: nowrap;
      padding-right: 5px;
    }
	.propertyName {
		float:left;
	}
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .isBar {
        display: none;
    }
    .selectedView {
    	overflow: auto;
    }
    .detailsMainSel {
    	overflow: unset;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .isBar {
        display: none;
    }
        .selectedView {
        	overflow: auto;
        }
        .detailsMainSel {
        	overflow: unset;
        }
}

@media (min-width: 320px) and (max-width: 480px) {
    .isBar {
        display: none;
    }
        .selectedView {
        	overflow: auto;
        }
        .detailsMainSel {
        	overflow: unset;
        }
    
}
