@import "~material-design-icons/iconfont/material-icons.css";

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

body, #root, .app, html {
  height: 100%;
}
